.navbar-default {

	border-radius: 0;
	
}


#nav h1 a {

	margin-left: .6em;
	 font-family: 'Rye', cursive;
	
}

footer {
	
  background-color: rgb(44, 62, 80);
  padding: 1rem;
  color:#18bc9c;
  font-family: 'Rye', cursive;
  text-align: center;
}

#loginForm {

float:left;
margin-left:2.5%;
width: 20%;	
	
}

#signUpForm {
	
width: 33%;
margin-left:2.5%;

}

#createPollForm {
	
width: 33%;
margin-left:2.5%;
	
}

.message {
	
	padding-left: .5em;
	font-weight:bold;
	color: red;
	font-size:large;
	
}